body {
display: flex;
justify-content: center;
align-items: center;
}

.main , header , article , footer
{
display: flex;
flex-flow: column wrap;
align-items: center;
min-width: 100%;

}

header , footer
{
 letter-spacing: 5px;
 font-weight: lighter;
 font-family: 'Crimson Text', serif;
 font-size: x-small;
 color: #768492;
}

article
{
 
  font-size: small;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  letter-spacing: 10px;
  color: #768492;
}










     @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
     @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
     @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

     h1.fade-in{
       opacity:0;
       opacity: 1 \40;
       -webkit-animation:fadeIn ease-in 1;
       -moz-animation:fadeIn ease-in 1;
       animation:fadeIn ease-in 1;

       -webkit-animation-fill-mode:forwards;
       -moz-animation-fill-mode:forwards;
       animation-fill-mode:forwards;

       -webkit-animation-duration:1.5s;
       -moz-animation-duration:1.5s;
       animation-duration:1.5s;

       -webkit-animation-delay: 0.3s;
       -moz-animation-delay: 0.3s;
       animation-delay: 0.3s;
     }

     @-webkit-keyframes AnimationName {
         0%{background-position:0% 63%}
         50%{background-position:100% 38%}
         100%{background-position:0% 63%}
     }
     @-moz-keyframes AnimationName {
         0%{background-position:0% 63%}
         50%{background-position:100% 38%}
         100%{background-position:0% 63%}
     }
     @keyframes AnimationName {
         0%{background-position:0% 63%}
         50%{background-position:100% 38%}
         100%{background-position:0% 63%}
     }


